# Folders to ignore
bin/
obj/
_ReSharper.*/
TestResults/
*.Setup/Debug/
*.Setup/Release/
packages/
~unittest/
build-output/

# Files to ignore
*.suo
*.DotSettings.user
*.*proj.user
*.userprefs
*.bat.save
build.log.xml
*.Results.xml
*.log.xml
