<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FAKE" version="1.64.18.0" />
  <package id="RestSharp" version="104.1" />
  <package id="NUnit" version="2.6.2" />
  <package id="NUnit.Runners" version="2.6.2" />
  <package id="Newtonsoft.Json" version="4.5.11" />
  <package id="FSharp.Data" version="1.0.13" />
</packages>